# OpenReview Matcher CircleCI 2.0 configuration file 28
version: 2
jobs:
  build:
    working_directory: ~/openreview-matcher-repo
    docker:
    - image: circleci/python:3.7-node
    - image: circleci/redis:6.0.0
    - image: circleci/mongo:4.4.5
      command: [--replSet,rs0]
    - image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
      environment:
        xpack.security.enabled: false
        transport.host: localhost
    steps:
    - checkout
    - run:
        name: Initialize Replica Set
        command: |
          wget -qO - https://www.mongodb.org/static/pgp/server-4.4.asc | sudo apt-key add -
          sudo touch /etc/apt/sources.list.d/mongodb-org-4.4.list
          echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/4.4 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-4.4.list
          sudo apt-get update
          sudo apt-get install -y mongodb-org=4.4.5 mongodb-org-server=4.4.5 mongodb-org-shell=4.4.5 mongodb-org-mongos=4.4.5 mongodb-org-tools=4.4.5
          mongo mongodb://localhost:27017 --eval "rs.initiate()"
    - run: git clone https://$OPENREVIEW_GITHUB@github.com/openreview/openreview-api-v1.git ~/openreview
    - run: git clone https://$OPENREVIEW_GITHUB@github.com/openreview/openreview-api.git ~/openreview-v2
    - run: git clone https://$OPENREVIEW_GITHUB@github.com/iesl/openreview-py.git ~/openreview-py
    - run: mkdir ~/openreview/logs
    - run: mkdir ~/openreview/files
    - run: mkdir ~/openreview/files/attachments
    - run: mkdir ~/openreview/files/pdfs
    - run: mkdir ~/openreview-v2/logs
    - run: mkdir ~/openreview-v2/files
    - run: mkdir ~/openreview-v2/files/attachments
    - run: mkdir ~/openreview-v2/files/pdfs
    - run:
        name: setup virtual environment
        command: |
          python -m venv matcher
    - run:
        name: install dependencies
        command: |
          cd ~/openreview-matcher-repo
          source matcher/bin/activate
          pip install -e .
    - run:
        name: install the local openreview-py as a dependency
        command: |
          cd ~/openreview-matcher-repo
          source matcher/bin/activate
          pip install -e ~/openreview-py
    - run:
        name: install api-v1
        command: |
          cd ~/openreview
          npm install
    - run:
        name: run api-v1
        command: |
          cd ~/openreview
          source matcher/bin/activate
          NODE_ENV=circleci node scripts/clean_start_app.js
        background: true
    - run:
        name: install api-v2
        command: |
          cd ~/openreview-v2
          npm install
    - run:
        name: run api-v2
        command: |
          cd ~/openreview-v2
          source matcher/bin/activate
          NODE_ENV=circleci node scripts/setup_app.js
        background: true
    - run:
        name: run tests
        command: |
          cd ~/openreview-matcher-repo
          source matcher/bin/activate
          mkdir reports
          mkdir reports/pytest
          python -m pytest -s tests --junitxml=reports/pytest/pytest-report.xml
    - store_test_results:
        path: reports
    - store_artifacts:
        path: reports
